<div class="product-display">
  <div class="product-description">
    <h2><%= @product.name %></h2>
    <p><%= @product.description %></p>
    <h3>Materials Used</h3>
    <table>
      <% @product.product_material.each do |mat| %>
        <tr><td><%= mat.name %></td><td><%= mat.material %></td><td><%= mat.description %></td></tr>
      <% end %>
    </table>
  </div>
  <div class="product-imageset">
  <% @product.images.each do |image| %>
    <div class="img">
      <%= link_to image_tag(image.fullsize_url, :alt => image.title), image.fullsize_url %>
      <div class="desc"><%= image.title %></div>
    </div>
  <% end %>
  </div>
</div>
